<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/main.css}" rel="stylesheet" />
<title>Completed Orders</title>
</head>
<body>

<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Add Items</a>
    <div class="dropdown-content">
      <a href="../inputIngredient">Add a New Ingredient</a>
      <a href="../inputAppetizer">Add a New Appetizer</a>
      <a href="../inputEntree">Add a New Entree</a>
      <a href="../inputSide">Add a New Side</a>
      <a href="../inputMeal">Create New Meal</a>
      <a href="../inputOrder">Create New Order</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">View Items</a>
    <div class="dropdown-content">
      <a th:href="@{/viewAllIngredients}">View All Ingredients</a>
      <a th:href="@{/viewAllAppetizers}">View All Appetizers</a>
      <a th:href="@{/viewAllEntrees}">View All Entrees</a>
      <a th:href="@{/viewAllSides}">View All Sides</a>
      <a th:href="@{/viewAllMeals}">View All Meals</a>
      <a th:href="@{/viewAllOrders}">View All Orders</a>
    </div>
  </li>
</ul>

<h1>Completed Orders</h1>
<form>
<table class="plain">
  <tr th:each="completedOrder : ${completedOrders}">
           <td th:text="${completedOrder.completedOrderName}"></td>
           <td><a class="delete" th:href="@{/deleteCompletedOrder/{id}(id=${completedOrder.id})}">Delete</a></td>
     </tr>
</table>
</form>
</body>
</html>