<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/main.css}" rel="stylesheet" />
<title>Order Confirmation</title>
</head>
<body>

	<ul>
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">Add Items</a>
	    <div class="dropdown-content">
	      <a href="../inputIngredient">Add a New Ingredient</a>
	      <a href="../inputAppetizer">Add a New Appetizer</a>
	      <a href="../inputEntree">Add a New Entree</a>
	      <a href="../inputSide">Add a New Side</a>
	      <a href="../inputMeal">Create New Meal</a>
	      <a href="../inputOrder">Create New Order</a>
	    </div>
	  </li>
	  <li class="dropdown">
	    <a href="javascript:void(0)" class="dropbtn">View Items</a>
	    <div class="dropdown-content">
	      <a th:href="@{/viewAllIngredients}">View All Ingredients</a>
	      <a th:href="@{/viewAllAppetizers}">View All Appetizers</a>
	      <a th:href="@{/viewAllEntrees}">View All Entrees</a>
	      <a th:href="@{/viewAllSides}">View All Sides</a>
	      <a th:href="@{/viewAllMeals}">View All Meals</a>
	      <a th:href="@{/viewAllOrders}">View All Orders</a>
	      <a th:href="@{/viewAllCompletedOrders}">View Completed Orders</a>
	    </div>
	  </li>
	</ul>
	<br>
	<form th:object="${currentOrder}" th:action="@{/confirmOrder/{id}(id=${currentOrder.id})}" method='GET'>
	
	Name: <input type="text" name="userName" size="20" th:field="*{userName}" readonly><br>
	Email: <input type="text" name="email" size="20" th:field="*{email}" readonly><br>
	Phone: <input type="text" name="phoneNumber" size="20" th:field="*{phoneNumber}" readonly><br>
	Pickup: <input type="text" name="pickupTime" size="20" th:field="*{pickupTime}" readonly><br>
	Total: <input type="text" name="total" size="20" th:field="*{total}" readonly><br><br>
	<a href="../inputMeal" class="newbutton">New Meal</a>
	<a href="../inputOrder" class="newbutton">New Order</a>
	<br><br>
	</form>
</body>
</html>