<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/main.css}" rel="stylesheet" />
<title>Add Ingredient</title>
<script>

function validateForm() {
	var ingredientName = document.getElementsByName('ingredientName')[0].value.trim();
    
    if (ingredientName === '') {
        alert("Please enter a name.");
        return false;
    }

}

</script>
</head>
<body>

<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Add Items</a>
    <div class="dropdown-content">
      <a href="../inputAppetizer">Add a New Appetizer</a>
      <a href="../inputEntree">Add a New Entree</a>
      <a href="../inputSide">Add a New Side</a>
      <a href="../inputMeal">Create New Meal</a>
      <a href="../inputOrder">Create New Order</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">View Items</a>
    <div class="dropdown-content">
      <a th:href="@{/viewAllIngredients}">View All Ingredients</a>
      <a th:href="@{/viewAllAppetizers}">View All Appetizers</a>
      <a th:href="@{/viewAllEntrees}">View All Entrees</a>
      <a th:href="@{/viewAllSides}">View All Sides</a>
      <a th:href="@{/viewAllMeals}">View All Meals</a>
      <a th:href="@{/viewAllOrders}">View All Orders</a>
      <a th:href="@{/viewAllCompletedOrders}">View Completed Orders</a>
    </div>
  </li>
</ul>

<h1>Add Ingredient</h1>
<form th:object="${newIngredient}" th:action="@{/updateIngredient/{id}(id=${newIngredient.id})}" method=POST onsubmit="return validateForm()">
	Name:
	<input type="text" name="ingredientName" size="20" th:field="*{ingredientName}">
<br>
<input name="submit" type="submit" value="submit" />
</form>
</body>
</html>