<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/main.css}" rel="stylesheet" />
<title>Add Meal</title>
<script>

function validateForm() {
	var mealName = document.getElementsByName('mealName')[0].value.trim();
    
    if (mealName === '') {
        alert("Please enter a name.");
        return false;
    }

    return true
}

</script>
</head>
<body>

<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Add Items</a>
    <div class="dropdown-content">
      <a href="../inputIngredient">Add a New Ingredient</a>
      <a href="../inputAppetizer">Add a New Appetizer</a>
      <a href="../inputEntree">Add a New Entree</a>
      <a href="../inputSide">Add a New Side</a>
      <a href="../inputOrder">Create New Order</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">View Items</a>
    <div class="dropdown-content">
      <a th:href="@{/viewAllIngredients}">View All Ingredients</a>
      <a th:href="@{/viewAllAppetizers}">View All Appetizers</a>
      <a th:href="@{/viewAllEntrees}">View All Entrees</a>
      <a th:href="@{/viewAllSides}">View All Sides</a>
      <a th:href="@{/viewAllMeals}">View All Meals</a>
      <a th:href="@{/viewAllOrders}">View All Orders</a>
      <a th:href="@{/viewAllCompletedOrders}">View Completed Orders</a>
    </div>
  </li>
</ul>

<h1>Add Meal</h1>
<form th:object="${newMeal}" th:action="@{/updateMeal/{id}(id=${newMeal.id})}" method=POST onsubmit="return validateForm()">
	
	Name:
	<input type="text" name="mealName" size="20" th:field="*{mealName}">
	<br>
	<label for="entrees">Entree:</label><br>
      <select multiple id="entrees" name="entrees">
        <option th:each="entree : ${allEntrees}" 
          th:value="${entree.id}"
          th:text="${entree.entreeName}">
        </option>
      </select>
      <br>
    <label for="sides">Side:</label><br>
      <select multiple id="sides" name="sides">
        <option th:each="side : ${allSides}" 
          th:value="${side.id}"
          th:text="${side.sideName}">
        </option>
      </select>
      <br>
   <label for="appetizers">Appetizer:</label><br>
      <select multiple id="appetizers" name="appetizers">
        <option th:each="appetizer : ${allAppetizers}" 
          th:value="${appetizer.id}"
          th:text="${appetizer.appetizerName}">
        </option>
      </select>
   <br>
   <input name="submit" type="submit" value="submit" />
</form>
</body>
</html>