<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/main.css}" rel="stylesheet" />
<title>Add Appetizer</title>
<script>

function validateForm() {
	var appetizerName = document.getElementsByName('appetizerName')[0].value.trim();
	var price = document.getElementsByName('price')[0].value.trim();
	var priceRegex = /^\d*\.?\d+$/;
    
    if (appetizerName === '') {
        alert("Please enter a name.");
        return false;
    }
	
    if (price === '') {
        alert("Please enter a price.");
        return false;
    } else if (!priceRegex.test(price)) {
        alert("Price can only contain numerical digits.");
        return false;
    }
    return true
}

</script>
</head>
<body>

<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Add Items</a>
    <div class="dropdown-content">
      <a href="../inputIngredient">Add a New Ingredient</a>
      <a href="../inputEntree">Add a New Entree</a>
      <a href="../inputSide">Add a New Side</a>
      <a href="../inputMeal">Create New Meal</a>
      <a href="../inputOrder">Create New Order</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">View Items</a>
    <div class="dropdown-content">
      <a th:href="@{/viewAllIngredients}">View All Ingredients</a>
      <a th:href="@{/viewAllAppetizers}">View All Appetizers</a>
      <a th:href="@{/viewAllEntrees}">View All Entrees</a>
      <a th:href="@{/viewAllSides}">View All Sides</a>
      <a th:href="@{/viewAllMeals}">View All Meals</a>
      <a th:href="@{/viewAllOrders}">View All Orders</a>
      <a th:href="@{/viewAllCompletedOrders}">View Completed Orders</a>
    </div>
  </li>
</ul>

<h1>Add Appetizer</h1>
<form th:object="${newAppetizer}" th:action="@{/updateAppetizer/{id}(id=${newAppetizer.id})}" method=POST onsubmit="return validateForm()">
	<div class="formBox">
	Name:
	<input type="text" name="appetizerName" size="20" th:field="*{appetizerName}">
	<br>
	Price:
	<input type="text" name="price" size="20" th:field="*{price}">
	<br>
	<label for="ingredients">Ingredients:</label><br>
      <select multiple id="ingredients" name="ingredients">
        <option th:each="ingredient : ${allIngredients}" 
          th:value="${ingredient.id}"
          th:text="${ingredient.ingredientName}">
        </option>
      </select>
<br>
<input name="submit" type="submit" value="submit" />

	</div>
</form>
</body>
</html>