<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/main.css}" rel="stylesheet" />
<title>Add Meal</title>
<script>

function validateForm() {
	var userName = document.getElementsByName('userName')[0].value.trim();
	var email = document.getElementsByName('email')[0].value.trim();
	var phoneNumber = document.getElementsByName('phoneNumber')[0].value.trim();
	var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
	var phoneRegex = /^\+?\d{1,4}[\s-]?(\(\d{1,3}\)[\s-]?|\d{1,4})\d{7,}$/;
	
    if (userName === '') {
        alert("Please enter a name.");
        return false;
    }
    
    if (email === '') {
        alert("Please enter a valid email.");
        return false;
    } else if (!emailRegex.test(email)) {
        alert("Please enter a valid email.");
        return false;
    }
    
    if (phoneNumber === '') {
        alert("Please enter a valid phone number.");
        return false;
    } else if (!phoneRegex.test(phoneNumber)) {
        alert("Please enter a valid phone number.");
        return false;
    }

    return true
}

</script>
</head>
<body>

<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Add Items</a>
    <div class="dropdown-content">
      <a href="../inputIngredient">Add a New Ingredient</a>
      <a href="../inputAppetizer">Add a New Appetizer</a>
      <a href="../inputEntree">Add a New Entree</a>
      <a href="../inputSide">Add a New Side</a>
      <a href="../inputMeal">Create New Meal</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">View Items</a>
    <div class="dropdown-content">
      <a th:href="@{/viewAllIngredients}">View All Ingredients</a>
      <a th:href="@{/viewAllAppetizers}">View All Appetizers</a>
      <a th:href="@{/viewAllEntrees}">View All Entrees</a>
      <a th:href="@{/viewAllSides}">View All Sides</a>
      <a th:href="@{/viewAllMeals}">View All Meals</a>
      <a th:href="@{/viewAllOrders}">View All Orders</a>
      <a th:href="@{/viewAllCompletedOrders}">View Completed Orders</a>
    </div>
  </li>
</ul>

<h1>Add Order</h1>
<form th:object="${newOrder}" th:action="@{/updateOrder/{id}(id=${newOrder.id})}" method=POST onsubmit="return validateForm()">
	
	Name:
	<input type="text" name="userName" size="20" th:field="*{userName}">
	<br>
	Email:
	<input type="text" name="email" size="20" th:field="*{email}">
	<br>
	Phone Number:
	<input type="text" name="phoneNumber" size="20" th:field="*{phoneNumber}">
	<br>
	<label for="meals">Meal:</label><br>
      <select multiple id="meals" name="meals">
        <option th:each="meal : ${allMeals}" 
          th:value="${meal.id}"
          th:text="${meal.mealName}">
        </option>
      </select>
    <br>
    Tip %:
	<input type="text" name="tip" size="20" th:field="*{tip}">
  <br>
  <input name="submit" type="submit" value="submit" />
</form>
</body>
</html>