<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Ingredient</title>
<script>

function validateForm() {
	var ingredientName = document.getElementsByName('ingredientName')[0].value.trim();
	var quantity = document.getElementsByName('quantity')[0].value.trim();
	var quantityRegex = /^\d+$/;
    
    if (ingredientName === '') {
        alert("Please enter a name.");
        return false;
    }
	
    if (quantity === '') {
        alert("Please enter a quantity.");
        return false;
    } else if (!quantityRegex.test(quantity)) {
        alert("Quantity can only contain numerical digits.");
        return false;
    }
}

</script>
</head>
<body>
<h1>Add Ingredient</h1>
<form th:object="${newIngredient}" th:action="@{/updateIngredient/{id}(id=${newIngredient.id})}" method=POST onsubmit="return validateForm()">
	Name:
	<input type="text" name="ingredientName" size="20" th:field="*{ingredientName}">
	<br>
	Quantity:
	<input type="text" name="quantity" size="20" th:field="*{quantity}">
<br>
<input name="submit" type="submit" value="submit" />
<br>
<table>
  <tr>
    <th>Add Items</th>
    <th>View Items</th>
  </tr>
  <tr>
  	<td><a href="../inputEntree">Add a New Entree</a></td>
  	<td><a th:href="@{/viewAllEntrees}">View All Entrees</a></td>
  </tr>
  <tr>
  	<td><a href="../inputIngredient">Add a New Ingredient</a></td>
  	<td><a th:href="@{/viewAllIngredients}">View All Ingredients</a></td>
  </tr>
  <tr>
  	<td><a href="../inputSide">Add a New Side</a></td>
  	<td><a th:href="@{/viewAllSides}">View All Sides</a></td>
  </tr>
  <tr>
  	<td><a href="../inputAppetizer">Add a New Appetizer</a></td>
  	<td><a th:href="@{/viewAllAppetizers}">View All Appetizers</a></td>
  </tr>
  <tr>
  	<td><a href="../inputMeal">Create New Meal</a></td>
  	<td><a th:href="@{/viewAllMeals}">View All Meals</a></td>
  </tr>
</table>
</form>
</body>
</html>