<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/main.css}" rel="stylesheet" />
<title>View All Meals</title>
</head>
<body>

<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Add Items</a>
    <div class="dropdown-content">
      <a href="../inputIngredient">Add a New Ingredient</a>
      <a href="../inputAppetizer">Add a New Appetizer</a>
      <a href="../inputEntree">Add a New Entree</a>
      <a href="../inputSide">Add a New Side</a>
      <a href="../inputMeal">Create New Meal</a>
      <a href="../inputOrder">Create New Order</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">View Items</a>
    <div class="dropdown-content">
      <a th:href="@{/viewAllIngredients}">View All Ingredients</a>
      <a th:href="@{/viewAllAppetizers}">View All Appetizers</a>
      <a th:href="@{/viewAllEntrees}">View All Entrees</a>
      <a th:href="@{/viewAllSides}">View All Sides</a>
      <a th:href="@{/viewAllOrders}">View All Orders</a>
      <a th:href="@{/viewAllCompletedOrders}">View Completed Orders</a>
    </div>
  </li>
</ul>

<h1>Meals</h1>
<form>
<table>
  <tr>
    <th>Name</th>
    <th>Entree</th>
    <th>Side</th>
    <th>Appetizer</th>
    <th>Price</th>
  </tr>
  <tr th:each="currentMeal : ${newMeal}" >
    <td th:text="${currentMeal.mealName}"></td>
    <td th:text="${currentMeal.entrees}"></td>
    <td th:text="${currentMeal.sides}"></td>
    <td th:text="${currentMeal.appetizers}"></td>
    <td th:text="${currentMeal.calculateMealPrice()}"></td>
    <td><a class="edit" th:href="@{/editMeal/{id}(id=${currentMeal.id})}">Edit</a></td>
    <td><a class="delete" th:href="@{/deleteMeal/{id}(id=${currentMeal.id})}">Delete</a></td>
  </tr>
</table>
</form>
</body>
</html>